<style>

		.errors{
			color: red;
			font-family: Comic Sans MS;
  			font-size:1em;
  			font-weight: bold
		}

		.container-fluid {
			height: 100%;
			width: 100%;		
  	 	 	
		}

		.container-fluid:before {
			/*padding-top:200px;*/
			margin-left:-15px;
			margin-top:-20px;
 			height:100%; 
 			width:100%;			
			background-size:   100%;                    
    		background-repeat: no-repeat;
  	  		/*background-position: fixed ;	 */
			background-image: url(../../assets/images/A.jpg);		
  	 	 	z-index: -1; 
  	 	 	opacity:.9;
  	 	 	position: absolute;	 
  	 	 	 display: block; 
		}	
		
		.form-signin {
		  max-width: 530px;
		  padding: 15px;		  
		  margin:auto;
		}

		.form-signin .form-signin-heading,.form-signin .checkbox .btn {
  			margin-bottom: 10px;
  			color:white;
  			font-family: Comic Sans MS;
  			font-size:1.5em;

		}
		
		.form-signin .form-control {
  			position: relative;
  			height: auto;  
  			padding: 10px;
  			font-size: 16px;
		}

	
		.form-signin input[type="email"] {
 			 margin-bottom: 10px;
 			 width : 300px;
 			 height :30px;
 			 border-bottom-right-radius: 5;
  			 border-bottom-left-radius: 5;
  			 display: inline-block;
  			 vertical-align: left;
		}

		.form-signin input[type="password"] {
 			 margin-bottom: 10px;
 			 width : 300px;
 			 height :30px;
 			 border-top-left-radius: 5;
 			 border-top-right-radius: 5;
 			 display: inline-block;
 			 vertical-align: left;
		}
		.form-signin input[type="text"] {
 			 margin-bottom: 10px;
 			 width : 300px;
 			 height :30px;
 			 border-top-left-radius: 5;
 			 border-top-right-radius: 5;
 			 display: inline-block;
 			 vertical-align: left;
		}			

		#logbox {
			width:400px;
    		margin-top: 600px;
    		margin: auto;
    		border:1px solid gray;
    		border-radius: 10px;    		  
  			 background-color: black;
  			 opacity:.1;
    		border: 1px solid white;
   			 opacity: .8;
   			 text-align: center;
   			 /*z-index: 1; */
   			 vertical-align: center;    		
		}
		
		#bar {
			height : 100px;
			width : 100%;
		/*	background-color: #E36F5F;*/
			/*background-color:#B24E36*/
			/*background-color:#D13E19*/
			/*background-color:#B0462B;*//*
			background: linear-gradient(-270deg, #B0462B,#B24E36,#E36F5F);
			opacity: .4;
			border-radius:5px;
			tex
*/	text-align: center;
	}
		button {
			height:30px;
			text-align: center;
			
		}
		button p{
			font-family: Comic Sans MS;
			font-size: 1em;
			margin-top: -10px;
		}
		#quote .say {			
			text-align: center;
			text-decoration: none;			
			font-weight: bold;
				font-family: Comic Sans MS;
			font-size:1.5em;
		}
		#quote .author {			
			text-align: right;
			text-decoration: none;			
			font-weight: bold;
			font-family: Comic Sans MS;
			font-size:1.5em;
			padding-right:20%
		}

		#quote{
			margin-top: 50px;
			margin-left: 10px;
			margin-right: 10px;
			margin-bottom: 20px;
			padding:5px;			
		}
		.login {
			font-family: Comic Sans MS;
			font-size:1.5em;
			text-align: center;
			
		}

	.login a {
		color: white;		
		padding-top: 10px;
		text-decoration: underline;
		font-size: .9em
	}


		

	</style>